* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #09d602;
    --light-color: #f4f4f6;
    --dark-color: #111;
    --linkedin-color: #0077B5;
    --red-color: #EA32DC;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #121212;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */

.navbar {
    background: #121212;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar .main-menu ul {
    display: flex;
}


.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.4s;
}

.logo-image {
    width: 50px;
}

/* Hero Section */

.hero {
    margin-bottom: 50px;
}

.hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    width: 60%;
    margin: auto;
    gap: 40px;
    margin-bottom: 150px;
}


.hero .hero-image {
    margin-right: 30px;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}

.img {
    border-radius: 40%;
    filter: grayscale(50%) contrast(1.1) brightness(1.0);
    background-color: var(--light-color);
    background: radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.7));
    border: none !important;
    overflow: hidden;
    position: relative;
    min-width: 350px;
}



.scroll-down {
    text-align: center;

}

/* My Expertise Section */

.my-expertise .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 450px;
    width: 60%;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 250px;

}

.my-expertise .heading {
    margin-bottom: 120px;
}

.my-expertise .expertise-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 140px;
}


.my-expertise .card {
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    padding: 40px;
    border-radius: 45px;
    max-width: 550px;
    border: 2px solid transparent;
    background-clip: padding-box;
    width: 100%;
    min-width: 350px;
}

.box1, .box2, .box3 {
    position: relative;
}

.box1::after, .box2::after, .box3::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}


.box1::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.box2::after {
    background: linear-gradient(71deg, #0d1212, #EA32DC, #0d1212);
}

.box3::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.my-expertise .card .text {
    text-align: left;
}



/* Buttons */

.btn {
    display: inline-block;
    padding: 13px 30px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
    margin: 5px;
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-linkedin {
    background: var(--linkedin-color);
    color: #fff;
}

.btn-red {
    background: var(--red-color);
}



/* Text Classes */

.text-xxl, .text-xl, .text-lg, .text-md, .text-sm, .text-italic {
    color: var(--light-color);
}

.text-xxl {
    font-size: 6rem;
    line-height: 1.2;
    font-weight: 300;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

.text-italic {
    font-size: 1.4rem;
    font-style: italic;
    padding-bottom: 20px;
}