/* General - About Me */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #09d602;
    --light-color: #f4f4f6;
    --dark-color: #111;
    --linkedin-color: #0077B5;
    --red-color: #EA32DC;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #121212;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar - About Me*/

.navbar {
    background: #121212;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.navbar .main-menu ul {
    display: flex;
}


.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.4s;
}

.logo-image {
    width: 50px;
}

/* Hero Section - About Me */

.hero {
    margin-bottom: 50px;
}

.hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 60%;
    margin: auto;
    gap: 40px;
    margin-bottom: 50px;
}


.hero .hero-image {
    margin-right: 30px;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}


.img-abt-me {
    border-radius: 20%;
    filter: grayscale(40%) contrast(1.0) brightness(0.9);
    background-color: var(--light-color);
    background: radial-gradient(circle at center, transparent, rgba(11, 246, 246, 0.9));
    border: 2px solid rgba(11, 246, 246, 0.9);
    overflow: hidden;
    position: relative;
    min-width: 350px;
} 



.scroll-down {
    text-align: center;

}

/* My Story Section - About Me */

.my-story .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 450px;
    width: 60%;
    min-width: 300px;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 250px;
}

.my-story .heading {
    margin-bottom: 60px;
}

.my-story .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.my-story .card {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 400px;
    box-sizing: border-box;
    padding: 40px;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    border-radius: 45px;
    border: 2px solid transparent;
    background-clip: padding-box;
    min-height: 500px;
}

.my-story .box2 {
    background: url('./Images/Marketing\ &\ data_transparent.png') no-repeat center center;
    background-size: contain; /* Ensures the image covers the entire area */
    border-radius: 45px; /* Match any border radius */
    height: 100%; /* Ensure the box has height */
    width: 100%;
}

/* How I Help Section - About Me */

.help .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 450px;
    width: 60%;
    margin: auto;
    margin-top: 500px;
    margin-bottom: 250px;

}

.help .heading {
    margin-bottom: 60px;
}

.help .help-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}


.help .card {
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    padding: 40px;
    border-radius: 45px;
    max-width: 550px;
    border: 2px solid transparent;
    background-clip: padding-box;
    width: 100%;
    min-width: 350px;
}

.box1, .box2, .box3 {
    position: relative;
}

.box1::after, .box2::after, .box3::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 45px;
}


.box1::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.box2::after {
    background: linear-gradient(71deg, #0d1212, #EA32DC, #0d1212);
}

.box3::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.help .card .text {
    text-align: left;
}


/* Footer - About Me */

.footer {
    padding: 40px 0;
    margin-top: 500px;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: #ccc;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer .card {
    margin: 20px 30px 30px 0;
}

.footer input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}

.footer .footer-image {
    max-width: 50px;
}


/* Utility Classes - About Me */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Buttons - About Me */

.btn {
    display: inline-block;
    padding: 13px 30px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
    margin: 5px;
}

.btn:hover {
    opacity: 0.7;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-linkedin {
    background: var(--linkedin-color);
    color: #fff;
}

.btn-red {
    background: var(--red-color);
}



/* Text Classes - About Me */

.text-xxl, .text-xl, .text-lg, .text-md, .text-sm, .text-italic, .text-abt-me {
    color: var(--light-color);
}

.text-xxl {
    font-size: 6rem;
    line-height: 1.2;
    font-weight: 300;
    margin: 40px 0 20px;
}

.text-abt-me {
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 300;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

.text-italic {
    font-size: 1.4rem;
    font-style: italic;
    padding-bottom: 20px;
}

/* Hamburger Button - About Me */

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 6px 0;
}

/* Mobile Menu - About Me */

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}


/* Media Queries - About Me */

@media (max-width: 960px) {
    .text-xxl {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .my-story .grid {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }
}

@media (max-width: 670px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    .hero .container {
        background: url(../LUT_coursework/Images/hero-bg-mobile.png) no-repeat;
        background-size: 350px 400px;
        background-position: bottom;
        height: 770px;
    }

    .hero .hero-content,  .hero .hero-text  {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
    }

    .testimonials .testimonials-heading {
        max-width: 100%;
        text-align: center;
    }

    .testimonials .testimonials-grid, .pricing .pricing-grid, .footer .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer .card {
        margin-right: 0;
    }

    .footer .footer-grid > div {
        text-align: center;
    }

    /* Text - About Me */

    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    }

}

@media (max-width: 500px) {
    .text-xxl {
        font-size: 2rem;
    }
}